.contact {
  --form-height: 530px;

  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: calc(50vh - var(--form-height) / 2);
  min-height: 100vh;
  width: 100%;
}

.contact--entered,
.contact--exiting {
  position: relative;
}

@media (max-width: 696px) {
  .contact {
    padding-top: 0;
  }
}

.contact__form {
  max-width: var(--maxWidthS);
  width: 100%;
  padding: var(--space2XL) 0;
}

@media (max-width: 696px) {
  .contact__form {
    padding: var(--space5XL) 0 var(--space2XL);
    align-self: flex-start;
  }
}

.contact__title {
  font-size: var(--fontSizeH2);
  font-weight: var(--fontWeightMedium);
  margin-bottom: var(--space2XL);
  line-height: var(--lineHeightTitle);
  margin-top: 0;
  color: var(--colorTextTitle);
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  transform: translate3d(0, var(--space5XL), 0);
  opacity: 0;
}

.contact__title--entering,
.contact__title--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.contact__title--exiting {
  transition-duration: var(--durationM);
  transition-delay: 0s;
  transform: translate3d(0, calc(var(--space2XL) * -1), 0);
  opacity: 0;
}

.contact__title--hidden {
  transform: translate3d(0, var(--space5XL), 0);
  opacity: 0;
}

.contact__divider {
  margin-bottom: var(--space3XL);
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  transform: translate3d(0, var(--space5XL), 0);
  opacity: 0;
}

.contact__divider--entering,
.contact__divider--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.contact__divider--hidden {
  transform: translate3d(0, var(--space5XL), 0);
  opacity: 0;
}

.contact__divider--exiting {
  transition-duration: var(--durationM);
  transition-delay: 0s;
  transform: translate3d(0, calc(var(--space2XL) * -1), 0);
  opacity: 0;
}

.contact__input {
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  transform: translate3d(0, var(--space3XL), 0);
  opacity: 0;
}

.contact__input + .contact__input {
  margin-top: var(--spaceXL);
}

.contact__input--entering,
.contact__input--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.contact__input--hidden {
  transform: translate3d(0, var(--space3XL), 0);
  opacity: 0;
}

.contact__input--exiting {
  transition-duration: var(--durationM);
  transition-delay: 0s;
  transform: translate3d(0, calc(var(--space2XL) * -1), 0);
  opacity: 0;
}

.contact__button {
  margin-top: calc(var(--spaceXL) * 2);
  transition-property: transform, opacity, box-shadow;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-delay: var(--delay);
  transition-duration: var(--durationXL);
  transform: translate3d(0, var(--space3XL), 0);
  opacity: 0;
  justify-self: flex-start;
}

.contact__button--entered {
  transition-delay: 0ms;
  transition-duration: var(--durationM);
}

.contact__button--hidden {
  transform: translate3d(0, var(--space3XL), 0);
  opacity: 0;
}

.contact__button--sending svg {
  transition: transform var(--bezierFastoutSlowin) var(--durationXL),
    opacity var(--durationS) ease var(--durationS);
  transform: translate3d(var(--space5XL), 0, 0);
  opacity: 0;
}

.contact__button--sending .loader {
  animation: fade-in var(--durationM) ease var(--durationL) forwards;
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .contact__button--sending .loader {
    opacity: 1;
  }
}

.contact__button--entering,
.contact__button--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.contact__button--entering:hover {
  transform: translate3d(0, 0, 0);
}

.contact__button--exiting {
  transition-duration: var(--durationM);
  transition-delay: 0s;
  transform: translate3d(0, calc(var(--space2XL) * -1), 0);
  opacity: 0;
}

.contact__complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spaceXL) 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contact__complete-title {
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeH2);
  color: var(--colorTextTitle);
  text-align: center;
  margin: 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  transform: translate3d(0, var(--space3XL), 0);
  opacity: 0;
}

.contact__complete-title--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.contact__complete-text {
  font-size: var(--fontSizeBodyM);
  text-align: center;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  transform: translate3d(0, var(--space3XL), 0);
  opacity: 0;
}

.contact__complete-text--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.contact__complete-button {
  transition-property: transform, opacity, box-shadow;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  transform: translate3d(0, var(--space3XL), 0);
  opacity: 0;
  padding-left: 3px;
}

.contact__complete-button--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.contact__form-error {
  color: rgb(var(--rgbError));
  transition-property: height;
  transition-duration: var(--durationM);
  transition-timing-function: var(--bezierFastoutSlowin);
  overflow: hidden;
  height: var(--height);
}

.contact__form-error-content {
  padding-top: var(--spaceXL);
}

.contact__form-error-message {
  display: flex;
  padding: var(--spaceM);
  line-height: 24px;
  background-color: rgb(var(--rgbError) / 0.1);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%);
}

.contact__form-error-icon {
  flex: 0 0 auto;
  margin-right: var(--spaceS);
}
