.post {
  position: relative;
  display: flex;
  flex-direction: column;
}

.post__header {
  --gutter: 80px;
  --height: 80vh;
  --offset: 300px;

  display: grid;
  grid-template-columns: calc(50% - 40px) 1fr;
  gap: var(--gutter);
  align-items: center;
  min-height: var(--height);
  padding-left: var(--offset);
}

@media (max-width: 1600px) {
  .post__header {
    --gutter: 60px;
    --offset: 200px;
  }
}

@media (max-width: 1600px) {
  .post__header {
    --gutter: 60px;
    --offset: 160px;
  }
}

@media (max-width: 1280px) {
  .post__header {
    --gutter: 40px;
    --height: 70vh;
    --offset: 180px;
  }
}

@media (max-width: 1024px) {
  .post__header {
    --gutter: 20px;
    --height: 40vh;
    --offset: 160px;
  }
}

@media (max-height: 696px) {
  .post__header {
    --offset: 100px;
  }
}

@media (max-width: 696px), (max-width: 820px) and (max-height: 420px) {
  .post__header {
    --height: auto;

    grid-template-columns: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.post__header-text {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0 80px;
  max-width: 800px;
}

@media (max-width: 696px), (max-width: 820px) and (max-height: 420px) {
  .post__header-text {
    padding: 100px 0 0;
  }
}

.post__date {
  font-size: 18px;
  font-weight: var(--fontWeightMedium);
  margin-bottom: 60px;
  color: rgb(var(--rgbPrimary));
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 20px;
  align-items: center;
}

@media (max-width: 1024px) {
  .post__date {
    margin-bottom: 30px;
    gap: 10px;
  }
}

@media (max-width: 696px) {
  .post__date {
    grid-template-columns: 100px 1fr;
  }
}

.post__date-text {
  opacity: 0;
  transform: translate3d(-5%, 0, 0);
  transition: opacity var(--durationXL) ease,
    transform var(--durationXL) var(--bezierFastoutSlowin);
}

.post__date-text--entered {
  opacity: 1;
  transform: none;
}

.post__title {
  --postTitleSize: 94px;

  font-size: var(--postTitleSize);
  font-weight: var(--fontWeightBold);
  line-height: 1.1;
  margin: 0;
  color: var(--colorTextTitle);
}

@media (max-width: 1600px) {
  .post__title {
    --postTitleSize: 80px;
  }
}

@media (max-width: 1280px) {
  .post__title {
    --postTitleSize: 64px;
  }
}

@media (max-width: 1024px) {
  .post__title {
    --postTitleSize: 42px;
  }
}

@media (max-width: 696px) {
  .post__title {
    --postTitleSize: 36px;
  }
}

@keyframes post-title-word {
  from {
    transform: translate3d(0, 110%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.post__title-word-wrapper {
  overflow: hidden;
  position: relative;
  display: inline-flex;
}

.post__title-word {
  transform: translate3d(0, 110%, 0);
  animation-name: post-title-word;
  animation-timing-function: var(--bezierFastoutSlowin);
  animation-duration: 1.2s;
  animation-delay: var(--delay);
  animation-fill-mode: forwards;
  display: inline-flex;
}

@media (prefers-reduced-motion: reduce) {
  .post__title-word {
    transform: none;
  }
}

.post__banner {
  justify-self: flex-end;
  width: 100%;
  height: 100%;
  z-index: 1024;
}

@media (max-width: 696px) {
  .post__banner {
    min-height: 40vh;
    z-index: 1;
  }
}

.post__banner-image {
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 28px 100%, 0 calc(100% - 28px));
}

.post__banner-image img,
.post__banner-image video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes post-banner-arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.post__banner-arrow {
  position: absolute;
  bottom: 0;
  left: -10px;
  padding: 20px;
  animation-name: fade-in;
  animation-timing-function: var(--bezierFastoutSlowin);
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .post__banner-arrow {
    opacity: 1;
  }
}

.post__banner-arrow svg {
  stroke: rgb(var(--rgbText) / 0.5);
  animation-name: post-banner-arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition-timing-function: cubic-bezier(0.8, 0.1, 0.27, 1);
}

@media (max-width: 1024px) {
  .post__banner-arrow {
    left: -20px;
  }
}

@media (max-width: 696px) {
  .post__banner-arrow {
    position: relative;
    margin-top: 20px;
    align-self: flex-start;
  }
}

.post__banner-read-time {
  color: var(--colorTextLight);
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 20px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  animation-name: fade-in;
  animation-timing-function: var(--bezierFastoutSlowin);
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .post__banner-read-time {
    opacity: 1;
  }
}

.post__banner-read-time::before {
  content: '';
  height: 2px;
  background: rgb(var(--rgbText) / 0.4);
  display: block;
}

.post__content-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--space2XL);
}

.post__content {
  --para-space: 26px;
  --heading-space: 34px;

  width: 100%;
  align-self: center;
  margin-top: 120px;
  animation-name: fade-in;
  animation-timing-function: var(--bezierFastoutSlowin);
  animation-duration: 1.2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 100px 800px 100px 1fr;
}

.post__content > pre {
  grid-column: 3;
}

@media (prefers-reduced-motion: reduce) {
  .post__content {
    opacity: 1;
  }
}

@media (max-width: 1320px) {
  .post__content {
    grid-template-columns: 1fr 80px 740px 80px 1fr;
    margin-top: 80px;
  }
}

@media (max-width: 1280px) {
  .post__content {
    --para-space: 20px;
    --heading-space: 24px;

    grid-template-columns: 1fr 60px 680px 60px 1fr;
    margin-top: 80px;
  }
}

@media (max-width: 1096px) {
  .post__content {
    grid-template-columns: 1fr 50px 660px 50px 1fr;
    margin-top: 80px;
  }
}

@media (max-width: 1024px) {
  .post__content {
    --heading-space: 22px;

    grid-template-columns: 100%;
    margin-top: 70px;
  }

  .post__content > pre {
    grid-column: 1;
  }
}

@media (max-width: 696px) {
  .post__content {
    --para-space: 18px;
    --heading-space: 22px;

    margin-top: 60px;
  }
}

.post__heading-two {
  color: var(--colorTextTitle);
  margin: 0;
  font-size: 42px;
  grid-column: 3;
  font-weight: var(--fontWeightMedium);
}

@media (max-width: 1280px) {
  .post__heading-two {
    font-size: 34px;
  }
}

@media (max-width: 1024px) {
  .post__heading-two {
    font-size: 24px;
    grid-column: 1;
  }
}

@media (max-width: 696px) {
  .post__heading-two {
    font-size: 22px;
  }
}

.post__paragraph {
  color: rgb(var(--rgbText) / 0.8);
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  grid-column: 3;
}

.post__heading-two + .post__paragraph {
  margin-top: var(--heading-space);
}

.post__paragraph + .post__heading-two {
  margin-top: calc(var(--heading-space) * 2);
}

.post__paragraph + .post__paragraph {
  margin-top: var(--para-space);
}

@media (max-width: 1280px) {
  .post__paragraph {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .post__paragraph {
    grid-column: 1;
  }
}

@media (max-width: 696px) {
  .post__paragraph {
    font-size: 18px;
    hyphens: auto;
  }
}

.post__image {
  display: block;
  margin: 80px 0;
  max-width: 100%;
  width: 100%;
  height: auto;
  grid-column: 2 / span 3;
}

@media (max-width: 1024px) {
  .post__image {
    grid-column: 1;
    margin: 60px 0;
  }
}

.post__code {
  color: var(--colorTextLight);
  background: rgb(var(--rgbText) / 0.1);
  padding: 0.1em 0.3em;
  font-family: var(--monoFontStack);
}
