<script>
  if (navigator.doNotTrack !== '1') {
    const script = document.createElement('script');
    script.src = 'https://www.googletagmanager.com/gtag/js?id=GTM-TBN2ZX2';
    script.async = true;
    document.head.appendChild(script);
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'GTM-TBN2ZX2');
  }
</script>

<script>
  const titleTag = document.createElement('title');
  titleTag.text = 'Alireza Hosseini | Storybook';

  const firstMeta = document.head.querySelector('meta[charset="utf-8"]');
  document.head.insertBefore(titleTag, firstMeta.nextSibling);

  const callback = function(mutationsList, observer) {
    for (let mutation of mutationsList) {
      if (mutation.type == 'childList') {
        observer.disconnect();
        titleTag.text = 'Alireza Hosseini | Storybook';
      }
    }
  };

  const observer = new MutationObserver(callback);
  observer.observe(titleTag, { childList: true });
</script>

<style>
  .sidebar-header img {
    width: 32px;
  }
</style>

<meta name="description" content="My custom design component system created from the ground up used in building my portfolio. Built with the help of storybook and styled-components">

<meta name="theme-color" content="#111111" />
<meta name="author" content="Cody Bennett" />

<link rel="manifest" href="https://alirezahosseini.ir/manifest.json" />
<link rel="shortcut icon" href="https://alirezahosseini.ir/favicon.png" />
<link rel="apple-touch-icon" href="https://alirezahosseini.ir/icon-256.png" />
<link type="text/plain" rel="author" href="https://alirezahosseini.ir/humans.txt" />

<meta property="og:image" content="https://alirezahosseini.ir/social-image.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="549" />

<meta property="og:title" content="Alireza Hosseini | Storybook" />
<meta property="og:site_name" content="alirezahosseini.ir" />
<meta property="og:url" content="https://alirezahosseini.ir" />
<meta property="og:description" content="My custom design component system created from the ground up used in building my portfolio. Built with the help of storybook and styled-components" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="My custom design component system created from the ground up used in building my portfolio. Built with the help of storybook and styled-components" />
<meta name="twitter:title" content="Alireza Hosseini | Storybook" />
<meta name="twitter:site" content="@alirezakael" />
<meta name="twitter:image" content="https://alirezahosseini.ir/social-image.png" />
